* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-primary-greenish-blue: #4d96a9;
  --color-primary-pruple: #855fb1;
  --color-primary-black: #28283d;
  --color-primary-gray: #87879d;

  --color-secondary-white: #fafafa;

  --color-accent-light-blue: #8fe3f9;
  --color-accent-light-purple: #d9b8ff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  color: var(--color-primary-gray);
}

.inactive {
  display: none;
}

.header {
  margin-bottom: 6.4rem;
}

.navbar {
  text-align: center;
  padding-top: 4.8rem;
  padding-bottom: 5.4rem;
}

.people-1 {
  position: relative;
  left: -5%;
  width: 110%;
  margin-bottom: 4.8rem;
}

.header-people-2 {
  display: none;
}

.header-people-3 {
  display: none;
}

.header-text {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.group-heading {
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.4rem;
  text-align: center;
  color: var(--color-primary-black);
  margin: 0 auto 2.4rem;
}

.group-paragraph {
  margin: 0 auto 3.2rem;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-secondary-white);
  outline: transparent;
  border: none;
  border-radius: 2.9rem;
  letter-spacing: 0.05rem;
  white-space: nowrap;
}

.btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-content {
  color: var(--color-accent-light-blue);
}

.btn--lrg {
  background-color: var(--color-primary-greenish-blue);
  padding: 1.6rem 4rem;
  text-align: center;
  width: 19.3rem;
  margin-bottom: 1.6rem;
  transition: background-color 0.2s;
}

.btn--lrg:hover {
  background-color: #71c0d4;
}

.btn--sm {
  background-color: var(--color-primary-pruple);
  padding: 1.6rem 2.9rem;
  width: 13.9rem;
  transition: background-color 0.2s;
}

.btn--sm:hover {
  background-color: #b18bdd;
}

.site-divider {
  margin-bottom: 6.4rem;
}

.divider-line {
  width: 0.1rem;
  height: 8.4rem;
  background-color: var(--color-primary-black);
  opacity: 0.25;
  margin: 0 auto;
}

.divider-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-primary-gray);
  width: 5.6rem;
  height: 5.6rem;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 2.9rem;
  margin: 0 auto;
}

.image-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  margin-bottom: 6.4rem;
}

.image-group img {
  width: 100%;
  border-radius: 0.8rem;
}

/* Media queries */

@media screen and (min-width: 531px) {
  .group-paragraph {
    width: 45.7rem;
  }
}

@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 8rem;
  }

  .navbar {
    padding-bottom: 6.4rem;
  }

  .people-1 {
    margin-bottom: 7.2rem;
  }

  .group-heading {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }

  .btn-group {
    flex-direction: row;
  }

  .btn--lrg {
    margin-right: 1.6rem;
    margin-bottom: 0;
  }

  .image-group {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 4.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .header-people-1 {
    text-align: center;
  }

  .people-1 {
    position: initial;
    width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11rem;
  }

  .header-people-1 {
    display: none;
  }

  .header-people-2 {
    display: block;
    order: 1;
  }

  .people-2 {
    position: relative;
    left: -8%;
    width: 100%;
  }

  .header-people-3 {
    display: block;
    order: 3;
  }

  .people-3 {
    position: relative;
    right: -8%;
    width: 100%;
  }

  .header-text {
    order: 2;
    margin-right: 8rem;
    margin-left: 8rem;
  }

  .group-heading {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }

  .group-paragraph {
    font-size: 1.8rem;
  }

  .btn {
    letter-spacing: 0.1rem;
  }

  .image-group {
    grid-gap: 3rem;
    padding-left: 16.5rem;
    padding-right: 16.5rem;
    margin-bottom: 8rem;
  }
}
